<form method="post" action="{% url 'proforma_detail' proforma.pk %}" id="line-form">
    {% csrf_token %}
    {% if editing_line %}<input type="hidden" name="id" value="{{ editing_line.pk }}">{% endif %}
    {{ line_form.non_field_errors }}
    <label>
        <span data-i18n="family">Family</span>
        {{ line_form.family }}
    </label>
    <label>
        <span data-i18n="subFamily">Sub-family</span>
        {{ line_form.sub_family }}
    </label>
    <label>
        <span data-i18n="manufacturer">Manufacturer</span>
        {{ line_form.manufacturer }}
    </label>
    <label>
        <span data-i18n="item">Item</span>
        {{ line_form.item }}
        {{ line_form.item.errors }}
    </label>
    <label>
        <span data-i18n="quantity">Quantity</span>
        {{ line_form.quantity }}
        {{ line_form.quantity.errors }}
    </label>
    <label>
        <span>{{ line_form.extra_tubing }} <span data-i18n="extraTubing">Extra tubing</span></span>
    </label>
    <label class="tubing-length-field">
        <span data-i18n="tubingLength">Tubing length</span>
        {{ line_form.tubing_length }}
        {{ line_form.tubing_length.errors }}
    </label>
    <div class="drawer-actions">
        {% if editing_line %}
        <button type="submit" name="action" value="delete_line" class="btn danger" data-i18n="delete">Delete</button>
        {% endif %}
        <button type="submit" name="action" value="save_line" class="btn primary" data-i18n="save">Save</button>
    </div>
</form>
